@model Estacionamento_ASP.Models.DTO.clienteModelo_DTO

@{
    ViewBag.Title = "DetalhesCliente";
}

@using (Html.BeginForm("DetalhesCliente", "Clientes"))
{
    @Html.AntiForgeryToken()
    <section class="layout-content">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <i class="fas fa-caret-right"></i>
                        <span>Detalhes Funcionário</span>
                    </li>
                </ul>
                <a class="btn btn-outline-primary" href="/Funcionario/CadastroFuncionario/@Model.CodigoCliente" role="button">
                    <span class="fas fa-user-plus" title="Cadastro" aria-hidden="true"></span>
                    <span>Cadastrar Novo Endereço</span>
                </a>
            </div>
        </nav>
        <div class="container" id="cadastrarFunc">
            <form action="" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.CodigoCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.CodigoCliente, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", @id = "CPF", @readonly = "readonly" } })
                        <div class="invalid-feedback"> </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ValorMens, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EditorFor(model => model.ValorMens, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>

                </div>

                
                
                @*__________________________________________FIM TELEFONE______________________________________________________*@

                @*__________________________________________INICIO ENDEREÇO LINHA 1___________________________________________*@
                <hr />
                @*<div class="form-row">
                    <div class="form-group col-md-5">
                        @Html.LabelFor(model => model.logradouro, htmlAttributes: new { @class = "control-label col-md-5" })
                        @Html.EditorFor(model => model.logradouro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.numero, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.complemento, htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.complemento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>

                </div>*@
                @*__________________________________________INICIO ENDEREÇO LINHA 2___________________________________________*@
                @*<div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.bairro, htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.cidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-1">
                        @Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "control-label col-md-1" })
                        @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.TipoEndereco, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EditorFor(model => model.TipoEndereco, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <div class="invalid-feedback"></div>
                    </div>

                </div>*@
                @*__________________________________________FIM ENDEREÇO______________________________________________________*@
                <button type="button" class="btn btn-outline-primary" style="color:black">
                    @Html.ActionLink("Voltar", "ListarCliente", new { @style = "color:white" })
                </button>
                <button type="button" class="btn btn-warning" style="color:black">
                    @Html.ActionLink("Editar", "EditarCliente", new { id = Model.CodigoCliente }, new { @style = "color:white" })
                </button>
            </form>
        </div>
    </section>
}
