@model ObjetoTransferencia.EntradaSaida

@{
    ViewBag.Title = "ImpressaoEntradaDetalhes";

}
@{
    Layout = "~/Views/Print/_Layout.cshtml";
}

<section class="layout-content">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">


        </div>
    </nav>
    <div class="container" id="code_prod_detail" style="margin-top: 50px">
        <div class="card">
            <div class="row no-gutters">
                @*
                    <aside class="col-sm-5 border-right">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div> <a href="@Model.Imagem" data-fancybox=""><img src="@Model.Imagem"></a></div>
                            </div>

                        </article>
                    </aside>
                *@

                <aside class="col-sm-7">
                    <span>Ticket Entrada N° @Model.IdEntraSaida</span>
                    <article class="p-5">
                        @*<h3 class="title mb-3 ">@Model.PessoaJuridica.RazaoSocial</h3>*@
                        <h3 style="font-size: 13px;" class="title mb-3">@Model.PessoaJuridica.NomeFantasia</h3>
                        <h3 style="font-size: 13px;" class="title mb-3 ">CNPJ: @Model.PessoaJuridica.CNPJ</h3>
                        <h3 style="font-size: 13px;" class="title mb-3 ">E-MAIL: @Model.PessoaJuridica.Email</h3>
                        <h3 style="font-size: 13px;" class="title mb-3">FONE: @Model.PessoaJuridica.Telefone - CEL: @Model.PessoaJuridica.Telefone </h3>
                        <h3 style="font-size: 13px;" class="title mb-3 ">END: @Model.PessoaJuridica.Endereco N°@Model.PessoaJuridica.Numero</h3>
                        <br />
                        <div class="mb-3">
                            <var class="price h3 text-warning">
                                Placa - <span class="currency"></span><span class="num">@Model.Placa</span>
                            </var><br/>
                            <var class="price h3 text-warning">
                                Veiculo - <span class="currency"></span><span class="num">@Model.Modelo.Descricao</span>
                            </var>
                            <span></span>
                        </div>
                        <dl>
                            <dt>@*Codigo*@</dt>
                            <dd>@*@Model.IdEntraSaida*@</dd>
                        </dl>

                        <dl class="row">
                            @*<dt class="col-sm-3">Veiculo</dt>
                            <dd class="col-sm-9">@Model.Modelo.Descricao </dd>*@

                            @*<dt class="col-sm-3">Placa</dt>
                                <dd class="col-sm-9">@Model.Placa </dd>*@

                            <dt class="col-sm-3">Data Entrada</dt>
                            <dd class="col-sm-9">@Model.DataEntrada.ToString("dd/MM/yyyy H:mm")</dd>

                            @*<dt class="col-sm-3">Data Saída</dt>
                                <dd class="col-sm-9">@Model.DataSaida.ToString("dd/MM/yyyy H:mm")</dd>*@
                        </dl>
                        <span style="font-weight: bold">
                            @Model.PessoaJuridica.MSG1
                            <p>@Model.PessoaJuridica.MSG2</p>
                        </span>
                    </article>
                </aside>
            </div>
        </div>
    </div>
    <br />
    <br />
    <button type="button" class="btn btn-outline-primary" style="color:black">
        @Html.ActionLink("Voltar", "ReimpressaoEntrada")
    </button>

    <script>window.print();</script>

</section>
