@model ObjetoTransferencia.EntradaSaida

@{
    ViewBag.Title = "EditarSaida";
}

@using (Html.BeginForm("EditarSaida", "Saida", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section class="layout-content">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <i class="fas fa-caret-right"></i>
                        <span>Confirmar Saida</span>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" id="cadastrarFunc">
            <form action="" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.IdEntraSaida, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.IdEntraSaida, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.IdEntraSaida, "", new { @class = "text-danger" })
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Modelo.Descricao, htmlAttributes: new { @class = "control-label col-md-3" })
                        @Html.EditorFor(model => model.Modelo.Descricao, new { htmlAttributes = new { placeholder = "Informe um nome", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Modelo.Descricao, "", new { @class = "text-danger" })
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Placa, new { htmlAttributes = new { placeholder = "Informe um nome", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.DataEntrada, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.DataEntrada, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })

                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Preco.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Preco.Valor, new { htmlAttributes = new { placeholder = "Informe um nome", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Preco.Valor, "", new { @class = "text-danger" })
                        <div class="invalid-feedback"></div>
                    </div>


                    <div class="form-group">
                        @*@Html.LabelFor(model => model.HoraEntrada, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HoraEntrada, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })

                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.HoraEntrada, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Preco.IdPreco, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.MinutoEntrada, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MinutoEntrada, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ValorTotal, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                            @Html.ValidationMessageFor(model => model.ValorTotal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.PessoaJuridica.NomeFantasia, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.Modelo.IdModelo, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.CNPJ, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.RazaoSocial, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.Telefone, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.Celular, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.Endereco, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.Bairro, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.CEP, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.Numero, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        @Html.EditorFor(model => model.PessoaJuridica.Endereco, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })

                    </div>
                    

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Preco.IdPreco, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                                @Html.ValidationMessageFor(model => model.Preco.IdPreco, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="id" name="id" value="" />
                    <button type="submit" class="btn btn-outline-warning">Confirmar</button>

                    <button type="button" class="btn btn-outline-primary" style="color:black">
                        @Html.ActionLink("Voltar", "ConsultarSaida", new { @style = "color:white" })
                    </button>
</form>
        </div>
    </section>

    <!--<div class="form-horizontal">
        <h4>EntradaSaida</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdEntraSaida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdEntraSaida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdEntraSaida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelo.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modelo.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modelo.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Placa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">-->
            @*@Html.LabelFor(model => model.DataEntrada, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <!--<div class="col-md-10">
                @Html.EditorFor(model => model.DataEntrada, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Preco.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco.Valor, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.HoraEntrada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraEntrada, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinutoEntrada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinutoEntrada, new { htmlAttributes = new { @class = "form-control", } })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorTotal, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>-->
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
