@model ObjetoTransferencia.EntradaSaida

@{
    ViewBag.Title = "ImpressaoDetalhes";

}
@{
    Layout = "~/Views/Print/_Layout.cshtml";
}


<section class="layout-content">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            
           
        </div>
    </nav>
    <div class="container" id="code_prod_detail" style="margin-top: 50px">
        <div class="card">
            <div class="row no-gutters">
                @*
                    <aside class="col-sm-5 border-right">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div> <a href="@Model.Imagem" data-fancybox=""><img src="@Model.Imagem"></a></div>
                            </div>

                        </article>
                    </aside>
                *@
                <aside class="col-sm-7">
                    <article class="p-5">
                        <h3 class="title mb-3 ">@Model.PessoaJuridica.RazaoSocial</h3>
                        <h3 class="title mb-3 ">@Model.PessoaJuridica.NomeFantasia</h3>
                        <h3 class="title mb-3 ">CNPJ: @Model.PessoaJuridica.CNPJ</h3>
                        <div class="mb-3">
                            <var class="price h3 text-warning">
                                Valor Total = <span class="currency"></span><span class="num">@Model.ValorTotal.ToString("C2")</span>
                            </var>
                            <span></span>
                        </div>
                        <dl>
                            <dt>@*Codigo*@</dt>
                            <dd>@*@Model.IdEntraSaida*@</dd>
                        </dl>

                        <dl class="row">
                            <dt class="col-sm-3">Codigo</dt>
                            <dd class="col-sm-9">@Model.IdEntraSaida </dd>
                            <dt class="col-sm-3">Veiculo</dt>
                            <dd class="col-sm-9">@Model.Modelo.Descricao </dd><br/>
                            <dt class="col-sm-3">Placa</dt>
                            <dd class="col-sm-9">@Model.Placa </dd>
                            <dt class="col-sm-3">Endereço</dt>
                            <dd class="col-sm-9">
                                @Model.PessoaJuridica.Endereco CEP: @Model.PessoaJuridica.CEP
                                N° @Model.PessoaJuridica.Numero
                            </dd>

                            <dt class="col-sm-3">Telefone</dt>
                            <dd class="col-sm-9">@Model.PessoaJuridica.Telefone </dd>

                            <dt class="col-sm-3">Celular</dt>
                            <dd class="col-sm-9">@Model.PessoaJuridica.Celular</dd>

                            <dt class="col-sm-3">Data Entrada</dt>
                            <dd class="col-sm-9">@Model.DataEntrada.ToString("dd/MM/yyyy H:mm")</dd>

                            <dt class="col-sm-3">Data Saída</dt>
                            <dd class="col-sm-9">@Model.DataSaida.ToString("dd/MM/yyyy H:mm")</dd>
                        </dl>
                        <span style="font-weight: bold">Guarde este tick consigo ele é a segurança do seu veiculo. Não deixe o mesmo no interior do carro.
                        <p>Não nos responsabilizamos por objetos deixados dentro do veículo e também por falhas mecanicas.
                            </p></span>
                    </article>
                </aside>
            </div>
        </div>
    </div>
    <br />
    <br />
    <button type="button" class="btn btn-outline-primary" style="color:black">
        @Html.ActionLink("Voltar", "Impressao")
    </button>
    
    <script>window.print();</script>

</section>

